
<div class="max-w-[400px] mx-auto">

  <h1 class="text-4xl font-bold">Log in</h1>
  
  <%= form_with(url: login_path, scope: :session) do |form| %>
    <div class="my-5">
      <%= form.label :email %>
      <%= form.text_field :email,
          class: 'block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>


    <div class="my-5">
      <%= form.label :password %>
      <%= form.password_field :password,
          class: 'block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>

    <div class="my-5">
      <%= form.submit "Log in", class: "btn-primary" %>
    </div>

    <p>New user? <%= link_to "Sign up now!", new_user_path,
       class: "text-slate-600 underline" %></p>
    
  <% end %>
</div>
