<%= form_with model: webpage do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% webpage.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_area :url %><br>
    <% webpage.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
