<div class="p-2 w-full">

  <% webpage.errors.full_messages_for(:title).each do |message| %>
    <div id="error_explanation"><%= message %></div>
  <% end %>

  <% webpage.errors.full_messages_for(:url).each do |message| %>
    <div id="error_explanation"><%= message %></div>
  <% end %>
  
  <%= form_with model: webpage do |form| %>

    <div class="flex space-x-2 ">
   
      <%= form.text_field :title, class: "p-2 block shadow rounded-md border border-violet-200 outline-none w-full", placeholder: "Title" %>
      <%= form.text_field :url, class: "p-2 block shadow rounded-md border border-violet-200 outline-none  w-full", placeholder: "URL" %>

      <div class="flex justify-center space-x-2">
        
        <%= button_tag(:class => "p-2 shadow bg-lime-100 rounded") do %>
        
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          
        <% end %>

            
        <% if current_page?(root_path) %>
          <button class="p-2 rounded shadow bg-slate-100">
            <%= link_to webpages_path, class: "" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            <% end %>
          </button>
        <% else %>
        <!-- TODO: make this DRY, we only change the path, everything else repeats! -->
          <button class="p-2 rounded shadow bg-slate-100">
            <%= link_to @webpage, class: "" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            <% end %>
          </button>

        <% end %>
        
      </div>

    </div>
  
  <% end %>
</div>
