<%= form_with model: webpage do |form| %>
  <div>
    <span class="label">
      <%= form.label :title %><br>
    </span>
    <%= form.text_field :title %>
    <% webpage.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :url %><br>
    <%= form.text_area :url %><br>
    <% webpage.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<!-- TODO: how to style form.submit? -->
<span type="button" class="btn-primary">
    <%= form.submit %>
  </span>
    <%= link_to "CANCEL", webpages_path, class: "btn-primary" %>
<% end %>
