<!-- FIXME refactor this to use flex, not grid -->
<div 
    class="grid grid-cols-1 sm:grid-cols-5 <%= webpage.read_status? ? 'bg-slate-50 hover:bg-slate-100' : '' %> cursor-pointer transition duration-300 ease-in-out hover:bg-slate-100"
>

  <!-- Title column -->
  <div class="sm:col-span-4 text-sm <%= webpage.read_status? ? 'text-slate-500' : '' %> font-light px-2 py-2 whitespace-nowrap">
      <a class="" href="<%= webpage_path(webpage) %>" ><%= webpage.title %></a>
  </div>
  <!-- END Title column -->
   
  <!-- Mirrors column -->
  <div class="sm:justify-self-end sm:col-span-1 space-x-2 text-sm font-light px-2 py-2 whitespace-nowrap">
  
    <span class="<%= webpage.read_status? ? 'text-slate-300' : 'text-slate-500' %> inline-block text-xs italic">
      ~<%= pluralize(webpage.reading_time, 'min') %>
    </span>
  
    <!-- Original URL Icon FIXME: hover active check is spaghetti code here and everywhere -->
    <span class="inline-block <%= webpage.read_status? ? 'text-slate-300 hover:text-slate-500' : 'text-slate-500 hover:text-slate-300' %> ">
      <a href="<%= webpage.url %>">
        <%= render 'svgs/link' %>
      </a>
    </span>
    <!-- END Original URL Icon -->
    
    <!-- Internet Archive URL Icon -->
    <span class="inline-block <%= webpage.read_status? ? 'text-slate-300 hover:text-slate-500' : 'text-slate-500 hover:text-slate-300' %> ">
      <a href="<%= webpage.internet_archive_url %>">
        <%= render 'svgs/archive-box' %>
      </a>
    </span>
    <!-- END Internet Archive URL Icon -->
  
  <!-- FIXME, move this conditional logic to a helper -->
  <% if webpage.read_status? %>
      <%= link_to toggle_read_status_webpage_path(webpage), class: "inline-block hover:text-slate-500 text-slate-300" do %>
        <%= render 'svgs/check-badge' %> 
      <% end %>
  <% else %>
      <%= link_to toggle_read_status_webpage_path(webpage), class: "inline-block hover:text-slate-300 text-slate-500" do %>
        <%= render 'svgs/check-badge' %> 
      <% end %>
  <% end %>
   
  </div>
  <!-- END Mirrors column -->

</div>
