<div class="w-[700px] mx-auto flex flex-col">
  
  <!-- Start of double column on top of page -->
  <div class="grid grid-cols-2">
    <div class="col-span-1">
      <h1 class="mb-3 font-medium text-2xl">Private Web Archive</h1>
    </div>
    <div class="col-span-1 justify-self-end">
      <div class="mb-4 space-x-3">
        <%= link_to "Add", new_webpage_path(@webpage), class: "btn-primary", data: { turbo_frame: dom_id(Webpage.new) } %>
        
        <% if current_page?(root_url) %>
          <%= link_to "Show Read", show_read_path(@webpage), class: "btn-primary" %>
        <% else current_page?(show_read_url) %>
          <%= link_to "Hide Read", root_path, class: "btn-primary" %>
        <% end %>
      </div>
      
    </div>
  </div>
  <!-- end of double column -->
  
  <!-- Start of single column section -->
    <div class="mb-3 overflow-x-auto">
      <div class="py-2 inline-block min-w-full">
        <div class="overflow-x-auto">

        <!-- Start of Table -->
        <table class="min-w-full">
          
          <thead class="border-b text-sm text-slate-800">
            <tr>
              <th scope="col" class="font-medium px-2 py-2 text-left">
                Title
              </th>
              
              <th scope="col" class="font-medium px-2 py-2">
              </th>
              <th scope="col" class="font-medium px-2 py-2"></th>
            </tr>
          </thead>
          
          <tbody id="webpages">
              <%= render @webpages %>
          </tbody>
          
        </table>
        <!-- End of Table -->
        
        </div>
      </div>
  </div>
  
  <%= turbo_frame_tag Webpage.new %>
</div>
