<!-- Logo -->
<%= link_to root_path do %>
  <%= image_tag "arkive_mascot.webp", class: "w-40 mx-auto mb-10" %>
<% end %>

<!-- Start of double column on top of page -->
<div class="flex md:flex-row flex-col md:justify-between">
  
  <div>
    <h1 class="mb-5 font-bold text-md sm:text-3xl">Private Web Archive</h1>
  </div>
  
  <div>
    <div class="space-x-3  text-sm sm:text-md text-slate-800 underline font-medium">
      <%= link_to "+ Add", new_webpage_path(@webpage), data: { turbo_frame: dom_id(Webpage.new) } %>
      
      <% if current_page?(root_url) %>
        <%= link_to "Show All", filtered_webpages_path(:all) %>
      <% else current_page?(filtered_webpages_path(:read)) %>
        <%= link_to "Show Unread Only", root_path %>
      <% end %>
    </div>
    
  </div>
</div>
<!-- end of double column -->

<!-- Start of single column section -->
<div class="mb-3">
  <div class="py-2 inline-block min-w-full">

    <!-- Start of Table -->
    <div class="overflow-hidden sm:shadow-lg border border-slate-50 rounded-md">        
      
      <div id="webpages">
        <%= turbo_frame_tag Webpage.new %>
        <%= render @webpages %>
      </div>
      
    </div>
    <!-- End of Table -->
    
  </div>
  
</div>
