<div class="max-w-[700px]  mx-auto">
  
 <!-- Logo --> 
 <%= image_tag "arkive_mascot.webp", class: "w-40 mx-auto" %>
  
  <!-- Start of double column on top of page -->
  <div class="grid grid-cols-2">
    
    <div class="col-span-1">
      <h1 class="mb-3 font-medium text-2xl">Private Web Archive</h1>
    </div>
    <div class="col-span-1 justify-self-end">
      <div class="mb-4 space-x-3">
        <%= link_to "Add", new_webpage_path(@webpage), class: "btn-primary", data: { turbo_frame: dom_id(Webpage.new) } %>
        
        <% if current_page?(root_url) %>
          <%= link_to "Show Read", show_read_path(@webpage), class: "btn-primary" %>
        <% else current_page?(show_read_url) %>
          <%= link_to "Hide Read", root_path, class: "btn-primary" %>
        <% end %>
      </div>
      
    </div>
  </div>
  <!-- end of double column -->
  
  <!-- Start of single column section -->
    <div class="mb-3 grid grid-cols-1">
      <div class="py-2 inline-block min-w-full">

        <!-- Start of Table -->
        
        <div class="overflow-hidden sm:shadow-lg border border-violet-50 rounded-md">        
          
          <div id="webpages">
              <%= turbo_frame_tag Webpage.new %>
              
              <%= render @webpages %>
          </div>
          
        </div>
        <!-- End of Table -->
        
      </div>
  </div>
  
</div>
