<div class="mx-auto mb-4">
  <%= turbo_frame_tag @webpage do %>
    <div class="mb-4">
      <h1 class="text-xl sm:text-3xl font-bold mb-2"><%= @webpage.title %></h1>

      <span class="text-md font-bold">🔗 Mirrors:</span>
      <ul class="list-disc list-inside pl-4">
        <li>
          <a class="underline text-blue-500" href="<%= @webpage.url %>">Original</a><br>
        </li>
        <li>
          <a class="underline text-blue-500" href="<%= @webpage.internet_archive_url %>">Internet Archive</a><br>
        </li>
      </ul>

      <span class="text-md font-bold">Status:</span>
      <% if @webpage.read_status %> Read <% else %> Unread <% end %>
      </br>

      <span class="text-md font-bold">Date added:</span> <%= @webpage.created_at %>
      </br>
      <span class="text-md font-bold">Reading Time:</span> about <%= pluralize(@webpage.reading_time, 'minute') %>
      
    </div>
    
    <nav class="mb-10 flex space-x-4">
      <%= link_to "Edit", edit_webpage_path(@webpage), class: "btn-primary" %>
      <% if @webpage.read_status? %>
        <%= link_to "Mark Unread", toggle_read_status_path(@webpage), class: "btn-primary" %>
      <% else %>
        <%= link_to "Mark Read", toggle_read_status_path(@webpage), class: "btn-primary" %>
      <% end %>
      
      <%= link_to "Delete", webpage_path(@webpage), class: "btn-primary bg-red-200", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </nav>
    
  <% end %>
</div>

<% if not @webpage.content == nil %>
  <h2 class="mb-2 text-md sm:text-2xl font-bold">Captured Content</h2>
  <div class="para mb-10 sm:p-4 sm:bg-gray-50 content max-w-[700px] mx-auto">
       <%= @webpage.content.html_safe %>
  </div>
<% end %>
 
 <style>
   .para p { margin: 25px 0 25px 0; }
   
 </style>
