<h1><%= @webpage.title %></h1>

<b>URL</b>:
<a href="<%= @webpage.url %>"><%= @webpage.url %> </a><br>

<b>Status</b>:
<% if @webpage.read_status %>
Read
<% else %>
Unread
<% end %><br>

<b>Date added</b>: <%= @webpage.created_at %>



<ul>
  <li><%= link_to "Edit", edit_webpage_path(@webpage) %></li>
  <li><%= link_to "Toggle read status", toggle_read_status_path(@webpage) %></li>
   <li><%= link_to "Delete", webpage_path(@webpage), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
