<div class="mx-auto w-[500px] mb-4">
  <%= turbo_frame_tag @webpage do %>
    <div class="mb-4">
      <h1 class="text-xl mb-2"><%= @webpage.title %></h1>

      <b>🔗 Mirrors</b>:<br>
      <ul class="list-disc list-inside pl-4">
        <li>
          <a class="underline text-blue-500" href="<%= @webpage.url %>">Original</a><br>
        </li>
        <li>
          <a class="underline text-blue-500" href="<%= @webpage.internet_archive_url %>">Internet Archive</a><br>
        </li>
      </ul>

      <b>Status</b>:
      <% if @webpage.read_status %> Read <% else %> Unread <% end %><br>

      <b>Date added</b>: <%= @webpage.created_at %>
    </div>
    
    <nav class="mb-10 flex space-x-4">
      <%= link_to "Edit", edit_webpage_path(@webpage), class: "btn-primary" %>
      <% if @webpage.read_status? %>
        <%= link_to "Mark Unread", toggle_read_status_path(@webpage), class: "btn-primary" %>
      <% else %>
        <%= link_to "Mark Read", toggle_read_status_path(@webpage), class: "btn-primary" %>
      <% end %>
      
      <%= link_to "Delete", webpage_path(@webpage), class: "btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <%= link_to "Home", root_path, class: "btn-primary" %>
    </nav>
    
  <% end %>
</div>

<% if not @webpage.content == nil %>
  <div class="para mb-10 p-4 bg-gray-50 content w-[700px] mx-auto">
       <%= @webpage.content.html_safe %>
  </div>
<% end %>
 
 <style>
   .para p { margin: 25px 0 25px 0; }
   
 </style>
