<div class="mx-auto mb-4">
  <%= turbo_frame_tag @webpage do %>

    <div class="mb-8">
      <h1 class="mb-8 text-xl sm:text-3xl font-bold "><%= @webpage.title %></h1>

      <!-- Info Box -->
      <div class="mb-4 bg-slate-50 p-8 border-2 ">
        <span class="mb-2 block text-lg ">🔗 Mirrors:</span>
        <ul class="mb-8 list-disc list-inside pl-2">
          <li>
            <a class="underline text-slate-500" href="<%= @webpage.url %>">Original</a>
          </li>
          <li>
            <a class="underline text-slate-500" href="<%= @webpage.internet_archive_url %>">Internet Archive</a>
          </li>
        </ul>
        <div class="flex flex-wrap justify-between">
          <span class="text-md ">Date added: <%= @webpage.created_at %></span>
          <span class="text-md ">Reading Time: about <%= pluralize(@webpage.reading_time, 'minute') %></span>
        </div>
      </div> <!-- End Box-->
      
      <!-- Edit, Delete ..etc section -->
      <nav class="mb-10 flex space-x-4">
        <%= link_to "Edit", edit_webpage_path(@webpage), class: "btn-primary" %>

        <%= toggle_read_status_button(@webpage) %>
        
        <%= link_to "Delete", webpage_path(@webpage), class: "btn-primary ", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </nav>
      
    </div>

  <% end %>
</div>

<!-- Otherwise, display the fetched content normally: -->
<% if @webpage.content %>

  <div class="p-3  bg-slate-100">
    <h2 class="m-0 text-md sm:text-xl  text-slate-400">Captured Content</h2>
   </div>
  <div class="prose prose-slate mb-10 sm:p-4 mx-auto">
         <%= @webpage.content.html_safe %>
  </div>

<% end %>
