<nav class="flex justify-between mb-10 mt-4 w-full">

  <ul class="flex justify-end items-center space-x-4 ">

    <% unless current_page?(root_path) or current_page?(show_read_path) %>
      <li>
        <span class="text-slate-800  hover:text-violet-500" href="#">
          <%= link_to "Home", root_path %>
        </span>
      </li>
    <% end %>
    
  </ul>
  
  <ul class="flex text-sm justify-end space-x-4 ">
    

    <% if logged_in? %>

      <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-slate-700 rounded hover:bg-slate-100 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto">
             logged in as <%= current_user.email %>
            <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>

          </button>
          
          <!-- Dropdown menu -->
          <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded shadow w-44">
              <ul class="py-1 text-sm text-slate-700 " aria-labelledby="dropdownLargeButton">
                <li>
                  <%= link_to current_user, class: "block px-4 py-2 hover:bg-violet-100" do %>
                    Profile
                  <% end %>
                </li>
                <li>
                  
                </li>
              </ul>
              <div class="py-1">

                <%= link_to logout_path, class: "block px-4 py-2 text-sm text-slate-700 hover:bg-slate-100", data: { "turbo-method": :delete } do %>
                  Log out
                <% end %>
                
              </div>
          </div>
      </li>
      
    <% else %>
  
      
    <li class="">
      <span class="text-slate-800 hover:text-violet-500" href="#">
        <%= link_to "Log in", login_path %>
      </span>
    </li>
    
    <% end %>
    
  </ul>
</nav>
