<!DOCTYPE html>
<html>
  <head>
    <title>ArkiveRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    

   <div class="container mx-auto w-[500px]">
     
	  <nav class="my-10 flex space-x-4">
	    <a href="<%= root_url %>" class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
	  </nav>
	     
    <%= yield %>
    </div>
  </body>
</html>
